<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout_Principal)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Layout_Principal)">
            <p style="margin-left:50px;" role="alert">Lo sentimos este sitio esta en construccion.</p>
            <img style="margin-left:50px;" src="../Images/Lo_Sentimos.gif" />
        </LayoutView>
    </NotFound>
</Router>
